div>p {
    background-color: yellow;
    font-size: 30px;
}

h1 {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}


#idFirst {
    background-color: pink;
}

[title="titleFirst"] {
    background-color: orange;
}

.spanInDiv span {
    background-color: lightcoral;
}

ul>li {
    background-color: orchid;
}

.my.homework {
    background-color: gold;
}

p.red {
    background-color: red;
    color: #000;
}

#myLastTask p {
    background-color: aquamarine;
}